// .forumContainer {
//   display: flex;
//   flex-direction: column;
//   gap: 2rem;
//   padding: 4rem;
// }

// .forumPost {
//   display: flex;
//   background: #fff;
//   border-radius: 8px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   overflow: hidden;
//   height: 200vh;
//   margin-left: 50px;
//   margin-right: 50px;
// }

// .thumbnail {
//   width: 300px; /* Adjust width as needed */
//   height: auto;
//   object-fit: cover;
// }

// .forumContent {
//   padding: 1rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

// .forumTitle {
//   font-size: 2.5rem;
//   margin: 0 0 0.5rem 0;
// }

// .forumExcerpt {
//   font-size: 1rem;
//   color: #333;
//   margin: 0 0 1rem 0;
// }

// .forumMeta {
//   display: flex;
//   gap: 1rem;
//   font-size: 1.25rem;
//   color: #aaa;

//   .forumDate{
//     display: flex;
//     align-items: center;
//     gap: 0.5rem;
//   }
// }


.forumContainer {
  padding: 20px;
}

.forumPost {
  display: flex;
}

.forum-img img {
  max-width: 300px;
}

.forum-info {
  margin-left: 20px;
}

.forum-title {
  font-size: 2em;
  margin: 0;
}

.forum-date {
  color: #777;
}

.forum-content {
  margin-top: 20px;
}

.commentsSection {
  margin-top: 40px;
}

.commentList {
  list-style-type: none;
  padding: 0;
}

.comment {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.commentContent {
  margin: 0 0 10px;
}

.commentMeta {
  color: #555;
  font-size: 0.9em;
}

.commentForm {
  margin-top: 20px;
}

.commentInput {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.commentButton {
  padding: 10px 20px;
  background-color: #007bff !important;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.commentButton:hover {
  background-color: #0056b3;
}