@keyframes Grow {
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: top right;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: top right;
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  height: 80px;
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid #00000026;

  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    .header-nav {
      display: flex;
      align-items: center;
      height: 80px;
    }

    .logo-wrap {
      display: flex;
      align-items: center;

      a {
        font-size: 22px;
        font-weight: 600;
        padding-left: 20px;
      }
    }

    .nav-bar {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      font-size: large;
      flex-wrap: wrap;
    }

    .header-actions {
      display: flex;
      align-items: center;
      margin-left: auto;
      padding-right: 20px;
    }

    .custom-btn {
      width: 130px;
      height: 40px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      outline: none;
      margin: 0 5px;
    }
    .btn-3 {
      background: rgb(0, 172, 238);
      background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
      width: 130px;
      height: 40px;
      line-height: 42px;
      padding: 0;
      border: none;
      &:hover {
        background: transparent;
        box-shadow: none;
      }
      span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        &:hover {
          color: rgba(2, 126, 251, 1);
        }
        &:before,
        &:after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          background: rgba(2, 126, 251, 1);
          transition: all 0.3s ease;
        }
        &:before {
          width: 2px;
          height: 0%;
          &:hover {
            height: 100%;
          }
        }
        &:after {
          width: 0%;
          height: 2px;
          &:hover {
            width: 100%;
          }
        }
      }
      &:before,
      &:after {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        background: rgba(2, 126, 251, 1);
        transition: all 0.3s ease;
      }
      &:before {
        height: 0%;
        width: 2px;
        &:hover {
          height: 100%;
        }
      }
      &:after {
        width: 0%;
        height: 2px;
        &:hover {
          width: 100%;
        }
      }
    }

    .nav-item {
      position: relative;
      padding: 10px 10px;

      .nav-link {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        position: relative;
        display: inline-block;

        &:hover {
          color: #007bff;

          .notification-dropdown {
            animation: Grow ease-in 1s;
          }
        }

        .notification-count {
          background: red;
          color: white;
          border-radius: 50%;
          padding: 2px 6px;
          font-size: 12px;
          position: absolute;
          top: -10px;
          right: -10px;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        min-width: 160px;
        z-index: 1;
        top: 100%;

        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: #ddd;
          }
        }
      }

      &:hover {
        .dropdown-content {
          display: block;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      // padding: 50px;

      .notification-dropdown {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 400%; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
        animation: Grow 0.3s ease-out;
        position: relative;
        right: 300%;

        .unRead{
          background-color: rgb(231, 228, 228);
        }
    
        .notification-item {
          display: flex;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid #ddd;
          transition: background 0.3s;

          &:last-child {
            border: none;
          }

          &:hover {
            background: #f5f5f5;
          }

          .notification-avatar {
            margin-right: 10px;
          }

          .notification-content {
            display: flex;
            flex-direction: column;
            width: 100%; /* Cho nội dung chiếm toàn bộ chiều rộng */
            padding: 5px;

            .notification-title {
              font-weight: bold;
            }

            .notification-text {
              color: #555;
            }
          }
        }
      }

      .nav-link {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        position: relative;
        display: inline-block;

        &:hover {
          color: #007bff;

          .notification-dropdown {
            animation: Grow ease-in 1s;
          }
        }
        .cart-count {
          background: red;
          color: white;
          border-radius: 50%;
          padding: 2px 6px;
          font-size: 12px;
          position: absolute;
          top: -10px;
          right: -10px;
        }
      }

      .cart-icon,
      .avatar {
        img {
          width: 50px;
          height: 50px;
          margin: 0 8px;
          border-radius: 50%;
          &.avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
    }

    .login-register-btn {
      padding-right: 20px !important;
    }

    .user-btn {
      background-color: var(--red-warning);
      color: var(--white);
      border-radius: 12px;
      width: 100%;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      cursor: pointer;
      box-shadow: 3px 3px 6px var(--red);
      transition: all 0.7s ease;

      .logout-icon {
        font-size: 1.6rem;
        margin-right: 6px;
      }

      span {
        font-size: 1.6rem;
      }

      &:hover {
        background-color: var(--white);
        color: var(--black);
        box-shadow: 3px 3px 6px var(--black);
      }
    }
  }

  .logo-wrap {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;

      &:hover .store-name {
        color: #007bff;
      }
    }
  }

  .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  header {
    height: auto;

    .container {
      .header-nav {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
      }

      .logo-wrap {
        a {
          padding-left: 20px;
        }
      }

      .nav-bar {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
      }

      .header-actions {
        margin-top: 10px;
        padding-right: 10px;
      }

      .custom-btn {
        width: 100px;
        height: 35px;
        font-size: 14px;
        margin: 5px 0;
      }

      .actions {
        padding-right: 20px;

        .cart-icon,
        .avatar {
          img {
            width: 40px;
            height: 40px;
          }
        }
      }

      .login-register-btn {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          margin: 5px 0;
        }
      }
    }
  }
}